<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Noter mes émotions et mes comportements</key>
	<dict>
		<key>New item - 2</key>
		<string></string>
		<key>New item</key>
		<string></string>
		<key>Noter et Coter L&apos;intensité des mes émotions</key>
		<dict/>
	</dict>
</dict>
</plist>
